@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}

.title{
    text-align: center;
    margin-top: 10px;
}

.und{
    text-decoration: underline gray 2px;
}

.btn-container{
    text-align: center;
    transform: translateY(5px);
}

.btn{
    margin-top: 10px;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.port-form{
    text-align: center;
}

input[type="text"]{
    width: 60%;
    height: 35px;
    text-align: center;
}

.label{
    font-size: larger;
}

footer{
    bottom: 0;
    position: absolute;

}

.prg{
   display: inline-block;
}

.content{
    text-align: center;
}
